.categoriesToPrevios {
    position: fixed;
    bottom: 0;
    left: 45vw;

}

.categoriestoPurchase {
    position: fixed;
    bottom: 0;
    left: 20vw;
}

.css-1gh6k7f-MuiBottomNavigationAction-label{
    opacity: 1 !important;
}
#categoriesNav{
    position: sticky;
    top: 3vh;
}