#lin {
    color: #234775;
}

#right {
    position: fixed;
    right: 3vw;
}

#left {
    position: fixed;
    left: 3vw;
}

#eneter {
    font-size: larger;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    color: #234775;
}