#lin {
    /* color: #234775; */
    color: white;
    font-weight: 500;
}

#right {
    position: fixed;
    right: 3vw;
}

#left {
    position: fixed;
    left: 3vw;
}

#eneter {
    font-size: larger;
    color: #234775;
}
#x{
    position: fixed;
    right: 3vw;
    top: 3vh;
    color: white;
    font-weight: 500;
    font-size: larger;
}