.Nav {
  position: sticky;
  top: 0;
  min-height: 10vh;
  background-color: #4c6a92;
  padding: 1%;
  text-align: left;
  margin: 0;
}
.nav-links {
  /* width: 70%; */
  display: inline;
  color: white;
  text-decoration: none;
  margin-inline: 25px;
}
.nav-links:hover {
  font-weight: 500;
}
#currentDate {
  float: left;
  font-weight: 500;
  padding: 0.5%;
  font-size: smaller;
}



#right-nav{
  /* top: -3vh; */
  /* margin: 0; */
  left: 0%;
  display: flex;
  flex-direction: row-reverse;
  float: right;
}
#currentUser {
  float: right;
  width: auto;
  padding: 6%;
  top: 0;
  background-color: white;
  color: #213f65;
  border-radius: 50%;
  /* border-color: white;
  border-width: 500; */
  font-weight: 500;
}
#div-in-right-nav {
  display: flex;
  flex-direction: column;
  float: right;
}
#li-in-div-in-right-nav{
  float: right;
  width: auto;
  padding: 0.5%;
  border: none;
}
#update-details-button {
  color: white;
  font-size: 18px;
}


