.previosToProducts {
    position: fixed;
    bottom: 0;
    /* right: -15vw; */
    left: 50vw;
}

.previoustoPurchase ,.detailsToPreviouses {
    position: fixed;
    bottom: 0;
    left: 30vw;
}

#wrap {
    display: flex;
    /* width: 100%; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-items: space-around;
    align-content: space-around;
}

.basicCard {
    margin: 1vh;
    align-self: center;
}